Title: 
<%= @post.title %>
<br>
Content: 
<%= @post.content %>
<br>

Catagories: 
<ul>
<% @post.categories.each do |categories| %>
           <li>   <%=  categories.name %> </li>
    <% end  %>
<br>
</ul>

Comments: 
<ul>
<% @post.comments.each do |comment| %>
           <li>   <%=  comment.content %> </li>
    <% end  %>
<br>
</ul>

Users who have commented: 


 <h3>New Comments</h3>

 <%= form_for @post.comments.build do |f|  %>
    <%= f.label "Content" %>
    <%= f.text_area :content %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.text_field :user_id, list: "users_autocomplete" %>
    <datalist id="users_autocomplete">
        <% User.all.each do |user| %>
            <option value="<%= user.username %>">
        <% end %>
  </datalist>
  <%= f.submit %>
<% end %>



 







